**In-class activity N°2**

Group 2:

* Andrea Franco
* Andres Salguero
* Harpreet Kaur

## IV) Data Extraction

As the dataset has already been characterized, identified and acquired, we start the data lifecycle from the Data extraction.

In [32]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

df = pd.read_csv("https://raw.githubusercontent.com/afscomercial/big-data-fundamental/main/class-activities/data_activity2.csv")
df

,symbol,exchange,date,adjusted close,option symbol,expiration,strike,call/put,style,ask,...,iv,volume,open interest,stock price for iv,*,delta,vega,gamma,theta,rho
0,SPY,NYSEArca,07/30/2021,438.51,SPY 210730C00215000,07/30/2021,215.0,C,A,224.56,...,-1.000000,0,0,438.97,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
1,SPY,NYSEArca,07/30/2021,438.51,SPY 210730P00215000,07/30/2021,215.0,P,A,0.01,...,-1.000000,0,1401,438.97,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
2,SPY,NYSEArca,07/30/2021,438.51,SPY 210730C00220000,07/30/2021,220.0,C,A,219.56,...,-1.000000,0,1,438.97,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
3,SPY,NYSEArca,07/30/2021,438.51,SPY 210730P00220000,07/30/2021,220.0,P,A,0.01,...,-1.000000,50,328,438.97,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
4,SPY,NYSEArca,07/30/2021,438.51,SPY 210730C00225000,07/30/2021,225.0,C,A,214.56,...,-1.000000,0,0,438.97,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221041,SPY,NYSEArca,07/01/2021,430.43,SPY 231215P00630000,12/15/2023,630.0,P,A,206.50,...,0.148305,0,1,430.26,*,-0.924500,0.750370,0.001112,-0.011128,-14.857175
221042,SPY,NYSEArca,07/01/2021,430.43,SPY 231215C00635000,12/15/2023,635.0,C,A,2.20,...,0.148310,0,146,430.26,NaN,0.051628,0.710649,0.001053,-0.005507,0.496773
221043,SPY,NYSEArca,07/01/2021,430.43,SPY 231215P00635000,12/15/2023,635.0,P,A,211.50,...,0.148310,0,0,430.26,*,-0.928176,0.710649,0.001053,-0.010792,-15.014119
221044,SPY,NYSEArca,07/01/2021,430.43,SPY 231215C00640000,12/15/2023,640.0,C,A,2.73,...,0.148310,5,1,430.26,*,0.048170,0.672488,0.000997,-0.005217,0.463973
221045,SPY,NYSEArca,07/01/2021,430.43,SPY 231215P00640000,12/15/2023,640.0,P,A,216.50,...,0.148310,0,0,430.26,*,-0.931634,0.672488,0.000997,-0.010467,-15.169052


### Step V : Data Validation and Cleansing
 For this we will check for null functions in our dataset using isnull function() and also check for unique values using unique function.

In [33]:
df.isnull().sum()

symbol                     0
exchange                   0
date                       0
adjusted close             0
option symbol              0
expiration                 0
strike                     0
call/put                   0
style                      0
ask                        0
bid                        0
mean price                 0
iv                         0
volume                     0
open interest              0
stock price for iv         0
*                     192007
delta                      0
vega                       0
gamma                      0
theta                      0
rho                        0
dtype: int64

### Checking for unique values:

In [34]:
df.nunique()

symbol                     1
exchange                   1
date                      21
adjusted close            21
option symbol          13960
expiration                48
strike                   312
call/put                   2
style                      1
ask                    22926
bid                    22611
mean price             36172
iv                    146910
volume                  6205
open interest          14825
stock price for iv        21
*                          1
delta                 182814
vega                  179397
gamma                  28374
theta                  91796
rho                   183742
dtype: int64

### Dropping all the columns with only one unique value:

In [35]:
df = df.loc[:, df.nunique() > 1]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221046 entries, 0 to 221045
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date                221046 non-null  object
 1   adjusted close      221046 non-null  float64
 2   option symbol       221046 non-null  object
 3   expiration          221046 non-null  object
 4   strike              221046 non-null  float64
 5   call/put            221046 non-null  object
 6   ask                 221046 non-null  float64
 7   bid                 221046 non-null  float64
 8   mean price          221046 non-null  float64
 9   iv                  221046 non-null  float64
 10  volume              221046 non-null  int64
 11  open interest       221046 non-null  int64
 12  stock price for iv  221046 non-null  float64
 13  delta               221046 non-null  float64
 14  vega                221046 non-null  float64
 15  gamma               221046 non-null  float64
 16  theta               221046 non-null  float64
 17  rho                 221046 non-null  float64
dtypes: float64(12), int64(2), object(4)
memory usage: 30.4+ MB

### Dropping columns not  that do not give value to the target

In [37]:
data = df.copy()

In [38]:
data.drop(['date', 'expiration'],axis=1, inplace=True)

### Converting Qualitative feature into Quantitative Feature:
Here ,we are converting call/put qualitative feature into Quantitative feature

In [39]:
le = LabelEncoder()

In [40]:
data['call/put'] = le.fit_transform(data['call/put'])
label_mapping1 = dict(enumerate(le.classes_))
print(label_mapping1)

{0: 'C', 1: 'P'}

### Step VI : Data aggregation and representation:
In this step we have to integrate multiple datasets into one single dataset.As the dataset we are dealing with doesnot have multiple datasets so we don't need to do this step and data is in the format of csv file.